/*Css units and tranform*/
.container {
    font-size: 25px;
}

.p1 {
    font-size: 2rem;
    transform: skewX(31deg);
    background-color: darkorange;
}

.p2 {
    font-size: 2em;
    transform: rotateX(56deg);
    background-color: darkorchid;
}

.p3 {
    font-size: 5vh;
    transform: rotate(2deg);
    background-color: deepskyblue;
}

.p4 {
    font-size: 3vw;
    transform: scaleY(1.5);
    background-color: forestgreen;
}

/*child selector*/
.combinator1>p {
    background-color: burlywood;
}

/*descendent selector*/
.combinator1 p {
    background-color: darkgray;
}

/*Adjacent sibling selector*/
.combinator2 + p{
    background-color: darkorange;
}

/*General sibling selector*/
.combinator3 ~ p{
    background-color: darkorange;
}

.transitions{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    transition: width 2s, height 2s;
}
.transitions:hover{
    width: 200px;
    height: 200px;
}